<div class="container">
	<div class="card-header"><h3>Contacto</h3></div>
	<div class="card-group">
		<div class="card">
			<img class="card-img-top" src="/assets/HSH-Logo.svg" width="128" height="128"  alt="Card image cap">
		</div>
		<div class="card" style="flex-grow: 4">
			<div class="card-body">
				<p class="card-text" style="font-size:20px">Mail: <a href="osvaldomantecovich@hsh.com">osvaldomantecovich@hsh.com </a></p>
				<p class="card-text" style="font-size:20px">Telefono: <a href="tel:08108109994">0800-810-9994</a></p>
			</div>
		</div>
	</div>
	</div>
</div>