<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
  <br>
  <br>

   <h1 class="text-white bg-dark" align="right"> Cadena de Hoteles</h1>


   <div align="right">
 
   
    <%= link_to 'Registrarse',new_client_registration_path,class:"btn btn-info" %>

    <%= link_to 'Iniciar Sesión',new_client_session_path,class:"btn btn-primary" %>
 
    </div>
 
</nav>

 
      <center> <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
      
        <div class="navbar-header">
          
          <center><%= link_to root_path, class: 'navbar-brand' do %>
            <%= image_tag "HSH-Complete.svg", title: "Logo", class: "image" %>
          </center>
              <% end %>
        </div>
     
       
      </div>
       </div> </center>

<nav class="navbar navbar-dark bg-dark">
      <h4 class="text-white bg-dark"> Propiedades </h4>


   
       <br>
       <br>
</nav>
